@import "react-alice-carousel/lib/alice-carousel.css";
@import "open-props/style";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.alice-carousel__stage-item {
  list-style-type: none;
}

.mantine-1x9p4r4 {
  background: rgb(34, 37, 49);
  background: linear-gradient(
    180deg,
    rgba(34, 37, 49, 1) 0%,
    rgba(26, 26, 29, 1) 30%
  );
}

.crypto_detail {
  line-height: 1.55;
  font-family: "Inter", sans-serif;
}
.mantine-Text-root a {
  color: rgb(66, 129, 247);
  font-weight: 600;
}
